@import 'c/eapCssLibrary';

.content {
    visibility: hidden;
    height: 100vh;
    background-color: var(--background-grey); 
}

.headerDetail{
    height: 200px;
    display: flex;
    background: linear-gradient(314.65deg, #0062E1 -23.73%, #0033AA 100%);
    justify-content: center;
}

.v1_div_start {
    top: 1.75em;
}

.v1_div_end{
    top: 1.5em;
}