.wrapper {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease-in-out;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-button-wrapper {
  margin-right: 25px;
  display: flex;
  align-items: center;
}

.radio-button-wrapper input {
  margin-top: -3px;
}

.radio-button-wrapper label {
  margin-bottom: 0;
  padding-left: 10px;
  color: var(--primary-text-medium-grey, #283640);
  font-size: var(--font-size-body-s, 0.875rem);
  font-family: var(--lwc-fontFamily);
}

p {
  color: #353533;
  font-size: var(--font-size-body-m, 1rem);
  padding-bottom: 20px;
  line-height: 1.7;
}

.a_tittle {
  color: #006efc;
  padding: 30px 0px;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-left: 0px;
}

.contact_us_detail {
  width: 100%;
}

.contact_us_head {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0px 0px;
  padding: 1.5rem 1rem;
  background: linear-gradient(
    93.67deg,
    var(--secondary-actions, #0051ff) 1.23%,
    #665ec7 58.64%
  );
}

.contact_us_head h3 {
  color: var(--white-color, #ffffff);
  text-transform: uppercase;
}

.contact_us_info {
  width: 100%;
  background-color: var(--white-color, #ffffff);
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.form-label-type {
  font-size: var(--font-size-body-m, 1rem);
  font-family: var(--lwc-fontFamily);
  display: block;
  font-weight: 700;
  padding-bottom: 10px;
  color: var(--primary-text-medium-grey, #283640);
  min-height: 25px;
  margin-bottom: 0;
}

.contact_text {
  width: 100%;
  padding-bottom: 25px;
  padding-top: 20px;
}

.contact_text p {
  color: var(--primary-text-medium-grey, #283640);
  font-size: 15px;
  line-height: 1;
}

.contact_text p a {
  color: var(--secondary-actions, #0051ff);
  margin-left: 0.3em;
}

.type_msg {
  width: 100%;
  padding-bottom: 30px;
}

.type_msg strong {
  display: block;
  color: #5c6c80;
  font-weight: normal;
  font-size: var(--font-size-body-xs, 0.75rem);
  padding-bottom: 10px;
}

.type_msg_info {
  width: 100%;
}

.type_msg_info label {
  color: #0a2240;
  font-size: 15px;
}

.slds-form-element__control {
  display: flex;
  flex-direction: column;
}

.contactus_form {
  width: 90%;
}

.formInput {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.formInput label {
  font-size: var(--font-size-body-s, 0.875rem);
  font-weight: 400;
  font-family: var(--lwc-fontFamily);
  display: block;
  padding-bottom: 5px;
  color: var(--primary-text-medium-grey, #283640);
  min-height: 25px;
}

.formInput_field {
  width: 100%;
  position: relative;
}

.formInput_field .form-control {
  width: 100%;
  border: 1px solid var(--neutral-dark-grey, #b0b5be);
  border-radius: 8px;
  padding: 0.75rem;
  font-size: var(--font-size-body-s, 0.875rem) !important;
  text-overflow: ellipsis;
  font-family: var(--lwc-fontFamily);
}

.formInput_field .form-select {
  width: 100%;
  height: auto;
  border-radius: 8px;
  font-family: var(--lwc-fontFamily);
  padding: 0.8rem 1rem;
  color: #0034a7;
  font-size: var(--font-size-body-xs, 0.75rem) !important;
  border: 0;
}

.formInput_field .form-control_textarea {
  min-height: 150px;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--neutral-dark-grey, #b0b5be);
  border-radius: 8px;
  font-size: var(--font-size-body-s, 0.875rem) !important;
  color: var(--tertiary-text-light-grey, #465463);
  font-family: var(--lwc-fontFamily);
}

.form_submit {
  width: 100%;
}

.form_submit .slds-button.slds-button_mall .slds-rich-text-editor__output {
  padding: 9px 50px;
}

.form_submit input {
  font-size: var(--font-size-body-m, 1rem);
  font-weight: bold;
  width: 100%;
  max-width: 250px;
  padding: 15px;
  color: var(--white-color, #ffffff);
  background-color: var(--THEME-ACCENT-LIGHT);
  border: 1px solid var(--THEME-ACCENT-LIGHT);
  border-width: 2px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 100px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0px;
  font-family: var(--lwc-fontFamily);
}

.form_submit input:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 10px;
}

.showMessage {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

.showMessage h3 {
  text-transform: uppercase;
  color: #006efc;
  font-weight: bold;
  padding-bottom: 15px;
}

.showMessage p {
  font-size: var(--font-size-body-m, 1rem);
  color: #5c6c80;
}

.contact_fr {
  width: 100%;
  margin-top: 1rem;
}

.contact_fr label {
  font-size: var(--font-size-body-m, 1rem);
  font-weight: 400;
  display: block;
  color: var(--primary-text-medium-grey, #283640);
  margin-bottom: 0;
}

.contact_fr a {
  color: #0034a7;
  font-size: var(--font-size-body-m, 1rem);
  font-weight: 400;
  display: inline-block;
}

.form-mobile {
  border-radius: 8px !important;
  border: 0px !important;
}

.formInput-mobile {
  width: 100%;
  position: relative;
}

.contact_fr p {
  font-size: var(--font-size-body-s, 0.875rem);
  display: block;
  padding-bottom: 5px;
  color: #5c6c80;
}

.faq_tabs {
  width: 100%;
}

.faq_tabs .nav-link {
  border: 0px !important;
  background: none !important;
  color: var(--sbg-blue, #0033a1) !important;
  font-weight: 500;
  padding: 15px 0px !important;
  margin-right: 25px;
}

.faq_tabs .nav-link.active {
  border-bottom: 2px solid #006efc !important;
  color: var(--sbg-blue, #0033a1) !important;
}

.faq_accordian_detail {
  width: 100%;
}

.faq_accordian_section {
  width: 100%;
  padding: 20px 0px;
}

.faq_accordian_section h3 {
  color: #006efc;
  padding-bottom: 30px;
}

.faq_accordian_info {
  width: 100%;
}

.faq_section_info {
  width: 100%;
  margin-bottom: 25px;
  background: var(--white-color, #ffffff);
  border: 1px solid #665ec7;
  border-radius: 10px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.faq_info {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 20px 20px;
}

.faq_info_text {
  width: 100%;
  display: none;
  padding: 10px 20px 25px;
}

.faq_info_text p {
  padding: 0px;
}

.show_accordian {
  background: linear-gradient(
    93.67deg,
    var(--secondary-actions, #0051ff) 1.23%,
    #665ec7 58.64%
  );
}

.show_accordian .faq_info h5 {
  color: var(--white-color, #ffffff);
}

.show_accordian .faq_info_text p {
  color: var(--white-color, #ffffff);
}

.sendMessageIcon {
  margin-right: 10px;
}

.mobileNumber {
  display: flex;
  border: 1px solid var(--neutral-dark-grey, #b0b5be);
  border-radius: 8px;
}

.mobileNumber .country-code {
  flex: 0 0 auto;
}

.mobileNumber .mobile-input-container {
  flex: 1 1 100%;
}

.form-label {
  font-size: var(--font-size-body-s, 0.875rem);
  display: block;
  padding-bottom: 5px;
  color: #5c6c80;
  min-height: 25px;
  margin-bottom: 0;
}

.backImage {
  padding-right: 0.5rem;
}

.backImage:hover {
  cursor: pointer;
}

.rm-name {
  color: var(--sbg-blue, --THEME-COLOUR-DARK) !important;
  font-weight: bold;
  padding-top: 15px;
}

.rm-email {
  color: var(--THEME-ACCENT-LIGHT) !important;
  padding: 0;
  font-size: 0.6875rem;
}

.rm-contact {
  color: var(--sbg-blue, --THEME-COLOUR-DARK) !important;
  padding: 0;
}

@media all and (max-width: 767px) {
  .contact_text p {
    color: var(--primary-text-medium-grey, #283640);
    font-size: var(--font-size-body-s, 0.875rem);
    line-height: 1rem;
  }

  .contactus_form {
    width: 90%;
  }
  .mobileNumber {
    margin-bottom: 25px;
  }

  .contact_fr label {
    font-size: var(--font-size-body-s, 0.875rem);
  }

  .contact_fr a {
    font-size: var(--font-size-body-s, 0.875rem);
  }

  .rm-name {
    font-size: var(--font-size-body-s, 0.875rem);
  }

  .rm-email {
    font-size: 0.6875rem !important;
  }

  .rm-contact {
    font-size: var(--font-size-body-xs, 0.75rem);
  }
}

@media all and (min-width: 768px) {
  .responsive-container {
    flex-direction: row;
    align-items: center;
  }

  .contact_us_head {
    padding: 3rem 2rem;
  }

  .contact_us_info {
  }

  .slds-form-element__control {
    flex-direction: row;
  }

  .contact_fr {
    margin-top: 40px;
  }
}

/* Blue Shop */

.contact_us_section {
  margin-top: 10px;
}

.highlighted_prod {
  font-size: var(--font-size-heading-s, 1.125rem);
}

.highlighted_prod h4 {
  color: #0034a7;
  font-size: var(--font-size-heading-xl, 1.75rem);
  font-family: var(--lwc-fontFamily);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.spinshow::after {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
}