.product-api-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
    margin: 1rem 0 2rem 0;
    border-bottom: 1px solid #EEEEEE;
}