.body {
  width: 100%;
}

.pagination__container {
  width: 100% !important;
}

.solutionShowcase__items {
  width: 100% !important;
}

.solutionWrapper {
  width: 100% !important;
}

.solutionsItem {
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.navigation-container {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  align-items: center;
  font-family: var(--FONT-FAMILY);
}

.Navigationbutton {
  width: 2.8125rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  column-gap: 0.625rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.NavigationPages {
  width: 9.375rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  column-gap: 1.125rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.pageSelection {
  height: 1.875rem;
  width: 1.875rem;
  color: #0a2240;
  font-weight: 200;
  font-size: 1.166875rem;
  letter-spacing: 0;
  line-height: 1.5625rem;
  padding: 0.125rem;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.pageSelectionCurrent {
  color: #eee;
  background: #0033aa;
  border-radius: 50%;
}

.workingLeftChevron {
  filter: invert(52%) sepia(63%) saturate(7072%) hue-rotate(193deg) brightness(105%) contrast(105%);
}

.disabledRightChevron {
  filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(249deg) brightness(104%) contrast(104%);
}

.ms-icn_chevron_left {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ms-icn_chevron_right {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LeftButtonSec {
  cursor: pointer;
}

.rightButtonSec {
  cursor: pointer;
}

.LeftButtonDisabled {
  pointer-events: none;
  cursor: default;
}

.rightButtonSecDisabled {
  pointer-events: none;
  cursor: default;
}

@media only screen and (max-width: 1100px) {
  .solutionsItem {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0.4375rem;
    row-gap: 0.4375rem;
  }
}

@media only screen and (max-width: 550px) {
  .solutionsItem {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1.4375rem;
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .NavigationPages {
    width: 7.8125rem;
  }

  .solutionsItem {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0rem;
    row-gap: 0.625rem;
  }
}