table {
    border-collapse: collapse;
    margin-bottom: 79px;
    margin-top: 138px;
    margin-left: 175px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 20px;
}

.table-container {
    font-family: var(--FONT-FAMILY);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    color: #FFFFFF;
    height: 50px;
    border-radius: 2px 2px 0 0;
    background: linear-gradient(135deg, #0A2240 0%, #0033AA 100%);
}

tr:nth-child(odd) {
    background-color: #ECEFF3;
}

.tick {
    text-align: center;
}