input[type=radio] { 
    position:absolute;
    height:1px;
    width:1px;
    opacity: 0;
}
 
input[type="radio"]:checked {
  content: "✔"!important;
  font-size: 5px;
  text-align: center;
  display:none;
}
input[type="radio"]:checked ~ .plan-card .plan-radio-button:before {
  display:
   inline-block;
}

input[type="radio"] ~ .plan-card .plan-radio-button{
  display: inline-block;
  cursor: pointer;
}

input[type="radio"] ~ .plan-card .plan-radio-button:before {
  content: "";
  display: inline-block;
  position: relative;
  border: 1px solid #EAECF0;
  border-radius: 50px;
  width: 13px;
  height: 13px;
  margin: 0px 0px 0px 9px;
}
input[type="radio"] ~ .plan-card .plan-radio-button:before:hover {
   border-color: var(--tertiary-color)!important;

}
input[type="radio"][c-acmSubscriptionPlans_acmSubscriptionPlans] ~ .plan-card[c-acmSubscriptionPlans_acmSubscriptionPlans] .plan-radio-button[c-acmSubscriptionPlans_acmSubscriptionPlans]:before :hover{
    border-color: var(--tertiary-color)!important;
}


input[type="radio"]:checked ~ .plan-card .plan-radio-button:before{
    content: "✓";
    font-family: inherit;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    vertical-align: top;
    color: #fff;
    background-color: var(--tertiary-color)!important;
}
.check-image{
    max-width: 100%;
    position: relative;
    float: left;
    width: 15px;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
    background-color: var(--tertiary-color)!important;
}
.plans{
    width: 100%;
    margin: auto;
    padding: 10px 0px;
}
.plan-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan-heading > * {
    padding-right: 3px;
}
.plan-container{
    height: 100% !important;
    margin-left:5px;
    padding-left: 0px;
    padding-right: 0px;

}
.plan-card{
    float: left;
    width: 100%;
    border: 1px solid #EAECF0;
    min-width: 290px;
    padding: 13px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.plan-card:hover {
    background-color:rgba(177, 80, 197, 0.1);
    border-color: var(--tertiary-color)!important;
    border: 1px solid; 
}
input[type="radio"]:checked ~ .plan-card {
    border:2px solid;
    border-color:var(--tertiary-color);
    color: var(--tertiary-color)!important;
    background-color:rgba(177, 80, 197, 0.1);
}

.plan-card:hover * {
     color: var(--tertiary-color)!important;
     font-weight:500;
}

.plan-name{
    font-weight:500;
    font-size: 12px;
}

.plan-price{
    font-size: 10px;
}
span.plan-price {
    flex: auto;
    text-align: end;
}

.plan-calls{
  font-size: 10px;
}

.plan-calls-container{
    padding-top:10px;
}

@media screen and (max-width: 570px){
    .plans{
    padding: 0px;
}
    .plan-card{
        float: left;
        width: 35%;
        min-width: 100%;
        border: 1px solid #EAECF0;
        padding: 10px 12px;
    }
   span.plan-price[c-acmSubscriptionPlans_acmSubscriptionPlans] {
    flex: auto;
    text-align: left;
    margin-top: -2px;
}


    .plan-name[c-acmSubscriptionPlans_acmSubscriptionPlans] {
    font-weight: 500;
    font-size: 9px;}

    .plan-container[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        margin-bottom: 0px;
        margin-left: 0px;
    }
   
    input[type="radio"][c-acmSubscriptionPlans_acmSubscriptionPlans] ~ .plan-card[c-acmSubscriptionPlans_acmSubscriptionPlans] .plan-radio-button[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        opacity: 0;
    }

    .plan-heading[c-acmSubscriptionPlans_acmSubscriptionPlans] > *[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        padding-right: 3px;
    }

}

@media screen and (min-width: 641px){
    .plan-container[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        height: 100% !important;
        width: auto;
        margin-bottom: 0px;
        padding-left: 0px;
        margin-right: 16px;

    }
    .plan-heading[c-acmSubscriptionPlans_acmSubscriptionPlans] > *[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        padding-right: 3px;
    }

    input[type="radio"][c-acmSubscriptionPlans_acmSubscriptionPlans] ~ .plan-card[c-acmSubscriptionPlans_acmSubscriptionPlans] .plan-radio-button[c-acmSubscriptionPlans_acmSubscriptionPlans]:before {
        margin: 0px 0px 0px 7px;
    }
   

}

@media screen and (min-width: 768px){
    .plan-card[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        padding: 15px;

    }
}

 @media screen and (min-width: 1280px){
    .plan-container[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        margin-right: 9px;
        padding-left: 0px;

        }
        .plan-heading[c-acmSubscriptionPlans_acmSubscriptionPlans] > *[c-acmSubscriptionPlans_acmSubscriptionPlans] {
        padding-right: 6px;
    }
}