*:focus-visible {
  box-shadow: inset 0 0 0 2px var(--light-blue);
  outline: none;
  border-radius: inherit;
}

:host {
  --mall-border-radius: 0.375rem;
}

@media all and (min-width: 768px) {
  :host {
    --mall-border-radius: 0.75rem;
  }
}

.category-selection {
  margin: 0;
}

.category-selection li {
  margin: 0;
}

/* lightning-primitive-icon {
    --lwc-squareIconMediumBoundary: 1.25rem;
} */

c-mall-header-dropdown ul {
  margin: 0;
  padding: 0;
}

c-mall-header-dropdown ul::before {
  content: "";
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  border-right: 0.45rem transparent solid;
  border-bottom: 0.7rem var(--white-color, #ffffff) solid;
  border-left: 0.45rem transparent solid;
  top: 1rem;
  background-color: transparent;
  right: 1rem;
  transform: translateY(-0.6rem);
}

c-mall-header-dropdown li {
  display: flex;
  align-items: center;
  margin: 0;
}

/* c-mall-header-dropdown li+li {
    border-top: 1px solid var(--neutral-light-grey, #F4F5F7);
} */

c-mall-header-dropdown a {
  min-height: 2.5rem;
}

c-mall-header-dropdown a,
c-mall-header-dropdown a > span {
  color: #5c6c80;
  font-size: var(--font-size-body-s, 0.875rem);
  line-height: 1rem;
  padding: 1rem;
  transition: color 0.2s ease;
  min-height: 2.875rem;
}

c-mall-header-dropdown a:hover,
c-mall-header-dropdown a:hover span {
  color: var(--THEME-COLOUR-DARK);
}

.dropdown {
  position: relative;
}

.icon {
  width: 1.5rem;
  filter: invert(1) brightness(0);
}

.catalogue-filter-icon {
  opacity: 0;
}

.dropdown button {
  outline: none;
}

.dropdown-panel {
  position: absolute;
  left: 0rem;
  min-width: 7.75rem;
  top: 100%;
  padding-top: 0.25rem;
  isolation: isolate;
  z-index: 1;
  width: 100%;
}

.dropdown button:not([aria-expanded="true"]) ~ .dropdown-panel {
  appearance: none;
  visibility: hidden;
  position: absolute;
  top: 100%;
}

.nav-item {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: max-content;
  width: 13rem;
  background-color: var(--white-color, #ffffff);
  border-radius: 0.375rem;
  padding: 0.75rem;
}

.nav-item.category-link-selected {
  background-color: #dfeefd;
}

.chevron {
  position: relative;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  color: var(--secondary-text-dark-grey, #0b0f14);
  margin-left: auto;
}

.chevron::before,
.chevron::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0.5rem;
  /* background-color: var(--secondary-text-dark-grey, #0b0f14); */
  border-radius: 0.1875rem;
  top: 50%;
  right: 0;
  /* transform: translateY(-50%) translateX(var(--chevron-posX))
    rotate(var(--chevron-rotate, 0)); */
}

.chevron::before {
  --chevron-rotate: 45deg;
  --chevron-posX: -0.3125rem;
}

.chevron::after {
  --chevron-rotate: -45deg;
  --chevron-posX: 0px;
}

/* .chevron {
  position: relative;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  color: currentColor;
} */

.chevron::before,
.chevron::after {
  content: "";
  position: absolute;
  /* height: 1px;
  width: 0.75rem;
  background-color: currentColor;
  border-radius: 0.1875rem; */
  top: 35%;
  right: 0;
  /* transform: translateY(-50%) translateX(var(--chevron-posX))
    rotate(var(--chevron-rotate, 0)); */
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #0051ff;
}

.chevron::before {
  --chevron-rotate: 45deg;
  --chevron-posX: -0.3125rem;
}

.chevron::after {
  --chevron-rotate: -45deg;
  --chevron-posX: 0.1875rem;
}

.nav-text {
  font-size: var(--font-size-body, 1rem);
}

.nav-text.catalogue-nav-text {
  display: flex;
  align-items: center;
}

.nav-text.catalogue-nav-text::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.96599 3.13848C3.03807 3.00166 3.17999 2.91602 3.33464 2.91602H15.8346C15.9893 2.91602 16.1312 3.00166 16.2033 3.13848C16.2754 3.2753 16.2657 3.44078 16.1783 3.56832L11.2513 10.7535V14.9993C11.2513 15.1387 11.1817 15.2688 11.0658 15.346L8.56576 17.0127C8.4379 17.0979 8.27351 17.1059 8.13803 17.0334C8.00255 16.9609 7.91797 16.8197 7.91797 16.666V10.7535L2.991 3.56832C2.90354 3.44078 2.89392 3.2753 2.96599 3.13848ZM4.12557 3.74935L5.26842 5.41602H13.9008L15.0437 3.74935H4.12557ZM8.67827 10.3887L5.83985 6.24935H13.3294L10.491 10.3887C10.4434 10.4581 10.418 10.5402 10.418 10.6243V14.7764L8.7513 15.8875V10.6243C8.7513 10.5402 8.72584 10.4581 8.67827 10.3887Z' fill='%23273851'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  display: inline-block;
}

.catalogue-filter-btn {
  border: 1px solid #e1e2e4;
}

input.service-check {
  height: 100%;
  width: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
}

.catalogue-filter-container {
  display: flex;
  align-items: center;
}

.catalogue-nav-item {
  position: relative;
}

.catalogue-text {
  font-size: var(--font-size-body-s, 0.875rem);
  line-height: 1rem;
  color: var(--secondary-text-dark-grey, #0b0f14);
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.catalogue-filter {
  display: flex;
  align-items: center;
}

.slds-pill {
  min-height: 3rem;
  border-radius: 0.375rem;
  padding-left: 0.625rem;
  padding-right: 2rem;
  border: 1px solid #0034a7;
  color: #0034a7;
}

.slds-listbox.slds-listbox_horizontal {
  gap: 0 1.25rem;
}

.slds-listbox_selection-group {
  height: 100%;
  margin-left: 1.25rem;
}

.close {
  position: absolute;
  right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close:before,
.close:after {
  position: absolute;
  left: 9px;
  top: 1px;
  content: "";
  height: 1.0625rem;
  width: 0.1125rem;
  background-color: var(--tertiary-text-light-grey, #465463);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.check-indicator {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  border-radius: 0.25rem;
  box-shadow: inset var(--secondary-text-dark-grey, #0b0f14) 0 0 0 1px;
  margin-right: 0.625rem;
  position: relative;
}

.catalogue-filter-container input:checked ~ .check-indicator {
  box-shadow: inset var(--THEME-COLOUR-DARK) 0 0 0 1px;
  background-color: var(--THEME-COLOUR-DARK);
}

.catalogue-filter-container input:checked ~ .check-indicator::before,
.catalogue-filter-container input:checked ~ .check-indicator::after {
  content: "";
  height: 1px;
  width: var(--indicator-width);
  background-color: var(--white-color, #ffffff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center bottom;
}

.catalogue-filter-container input:checked ~ .check-indicator::before {
  --indicator-width: 0.2rem;
  transform: translateY(1px) translateX(-4px) rotate(45deg);
}

.catalogue-filter-container input:checked ~ .check-indicator::after {
  --indicator-width: 0.5rem;
  transform: translateY(0px) translateX(-2px) rotate(-45deg);
}

.selected-indicator {
  height: 20px;
  width: 20px;
  display: block;
  /* border-radius: 50%; */
  /* box-shadow: inset var(--neutral-dark-grey, #0b0f14) 0 0 0 1px; */
  margin-left: auto;
  position: relative;
}

.selected-indicator::before,
.selected-indicator::after {
  content: "";
  height: 1px;
  width: var(--indicator-width);
  background-color: #0062e1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center bottom;
}

.selected-indicator::before {
  --indicator-width: 0.2rem;
  transform: translateY(1px) translateX(-4px) rotate(45deg);
}

.selected-indicator::after {
  --indicator-width: 0.5rem;
  transform: translateY(0px) translateX(-2px) rotate(-45deg);
}

.catalogue-filter-container--checked::after {
  width: 1.35rem;
  height: 1.35rem;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.332031 7.0026C0.332031 3.32071 3.3168 0.335938 6.9987 0.335938C10.6806 0.335938 13.6654 3.32071 13.6654 7.0026C13.6654 10.6845 10.6806 13.6693 6.9987 13.6693C3.3168 13.6693 0.332031 10.6845 0.332031 7.0026ZM10.2156 4.41619C10.3554 4.536 10.3716 4.74643 10.2518 4.88621L6.25178 9.55287C6.19136 9.62337 6.10427 9.66547 6.01149 9.66903C5.91871 9.6726 5.82865 9.6373 5.763 9.57165L3.763 7.57165C3.63282 7.44147 3.63282 7.23042 3.763 7.10024C3.89317 6.97007 4.10423 6.97007 4.2344 7.10024L5.97987 8.84571L9.74561 4.45235C9.86542 4.31257 10.0759 4.29638 10.2156 4.41619Z' fill='%230034A7'/%3E%3C/svg%3E%0A");
  right: 50%;
  top: -28%;
  left: 15%;
}

@media all and (max-width: 768px) {
  .nav-item {
    width: 100%;
    min-width: 6rem;
    padding: 0.5625rem 0.375rem;
    border-radius: 0.1875rem;
    height: 3rem;
  }

  .nav-text {
    font-size: var(--font-size-body-s, 0.875rem);
    line-height: 12px;
  }

  .icon {
    width: 1.5rem;
  }

  .close {
    right: 0.25rem;
  }

  .slds-pill {
    padding-left: 0.45rem;
    padding-right: 2.15rem;
    font-size: var(--font-size-body-s, 0.875rem);
  }

  .slds-listbox.slds-listbox_horizontal {
    gap: 0.15rem;
  }

  .slds-listbox_selection-group {
    margin-top: 0.75rem;
    padding: 0;
    margin-left: 0;
  }

  .catalogue-filter {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
  }

  .nav-item.catalogue-filter-btn ~ .dropdown-panel {
    min-width: 13.75rem;
    padding-top: 0;
    z-index: 5;
  }

  .catalogue-dropdown {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 769px) and (max-width: 1023px) {
  .dropdown button {
    width: 7rem;
  }
}

@media all and (min-width: 769px) {
  .nav-item {
    height: 3.1875rem;
  }

  .catalogue-filter {
    max-width: var(--theme-max-width);
    margin: -3rem auto 3rem auto;
    padding: 0 3rem;
  }
}

@media all and (max-width: 768px) {
  :host {
    width: 100%;
  }

  .category-selection {
    margin-bottom: 0.75rem;
  }

  .chevron {
    margin-right: 0.5rem;
  }
}