.slds-truncates {
  font: bold;
  font-family: BentonSans;
  font-size: 14px;
  line-height: 16px;
  color: #1a314d;
  font-weight: 700;
}
.aob_page-title-caption {
  font-size: 18px !important;
}
.aob_table-type-one tr td .btn-action {
  border: 0;
  padding: 0;
  width: 32px;
  border-radius: 40%;
}