.u-count-cta-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem; 
    
    border-radius: 1.25rem;
    border: 1px solid var(--neutrals-pale-grey, #CED3D9);
    background: var(--neutrals-white, #FFF);
    margin: 4.5rem 0;
    padding: 2.5rem 3.75rem;
  
  }
  
  .u-count-cta-wrapper .u-count-logo{
      max-width: 7.5rem;
      width: 100%;
  }
  
  .u-count-cta-wrapper .content-wrapper {
      max-width: 41.75rem;
      text-align: center;
      gap: 1rem;
      display: flex;
    flex-direction: column;
  }

  .u-count-cta-wrapper .content-wrapper .u-count-header{
    color: var(--neutrals-medium-grey-text-body, #1A314D);
    text-align: center;

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.625rem */
  }
  
  .u-count-cta-wrapper .content-wrapper .u-count-description{
      color: var(--neutrals-medium-grey-text-body, #1A314D);
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
  }
  
  .sbds-button{
      background: #0062E1; 
      display: inline-flex;
      padding: 1.25rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      max-width: 18.75rem;
    width: 100%;
      border: 1px solid #0062E1;
      
    }
    
    .sbds-button label{
      color: var(--neutrals-white, #FFF);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.25rem; /* 142.857% */
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
      cursor: pointer;
    }