.container {
  font-family: var(--lwc-fontFamily);
}

.page-header {
  background: var(--neutral-light-grey, #f4f5f7);
}
.search-section {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.grid-image {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 2;
}

.grid-row {
  grid-column-start: 1;
  grid-column-end: 3;
}

.product-details-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 1rem;
}

.modal-heading {
  font-size: var(--font-size-body-m, 1rem);
  line-height: 1.4;
  font-weight: 700;
  color: #0a2240;
}

.add-product-button {
  align-items: end;
}

.helper-text {
  width: 100%;
  max-width: 22.5rem;
  padding-top: 1px;
  padding-bottom: 70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-body-xxs, 0.625rem);
  line-height: 18px;
}

.section {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0 0;
  border-radius: 1.5rem;
  border: 1px solid var(--primary-blue, #0034a7);
  width: 100%;
  max-width: 35.625rem;
  height: 26.25rem;
}

.section h2 {
  font-size: 1.1rem;
  line-height: 2;
  color: #0034a7;
  /* text-transform: uppercase; */
  font-family: var(--lwc-fontFamily);
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-body-m, 1rem);
  line-height: 20px;
  margin: 0rem 0 1rem;
  /* line-height: 1; */
}

.square-container {
  position: relative;
  width: 13rem;
  height: 13rem;
  font-weight: 500;
  font-family: var(--lwc-fontFamilyMedium, "bentonsans-regular-webfont");
  font-style: normal;
  font-size: var(--font-size-body-xs, 0.75rem);
  line-height: 16px;
  color: #5c6c80;
}

.square {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-container .slds-icon_container {
  width: 3.125rem;
  height: 3.125rem;
  background-color: transparent;
}

.section lightning-button {
  margin-left: auto;
  align-self: center;
}

.section > lightning-card {
  --slds-c-card-color-border: transparent;
}

.no-product-message {
  font-size: var(--font-size-body-m, 1rem);
  text-align: center;
  display: block;
  padding: 10rem;
}

.viewclass {
  fill: blue;
}

.remove-link {
  text-decoration: none;
  line-height: 1rem;
  font-family: var(--lwc-fontFamily);
  color: #0034a7;
  font-weight: 700;
  font-size: var(--font-size-body-xs, 0.75rem);
}

.viewcellattributes {
  align-content: flex-end;
}

.description {
  width: 100%;
  max-width: 70rem;
}

.input-wrapper.full {
  grid-column: 1 / -1;
}

.character-count {
  margin-top: 3px;
  font-size: var(--font-size-body-xs, 0.75rem);
  margin-bottom: 0.5rem;
}

.disabled-rich-text {
  pointer-events: none;
  opacity: 0.8;
}

@media only screen and (max-width: 320px) {
  .section {
    flex-direction: column;
  }

  .section lightning-button {
    margin-left: 0;
    margin-right: auto;
  }
}

[lightning-primitiveresizehandler_primitiveresizehandler] {
  content: "";
  display: none;
}

span.slds-resizable__handle .slds-resizable__divider {
  content: "";
  display: none;
}

.image[data-guidelines="true"]::before {
  content: "";
  position: absolute;
  inset: calc(50% - 1.5rem);
  border: 1px #727272 dashed;
  height: 3rem;
  width: 3rem;
  z-index: 2;
}

[data-guidelines="true"]:is(.image, .icon) {
  margin-bottom: 1rem;
  position: relative;
  display: inline-flex;
}

.image[data-guidelines="true"]::before {
  content: "";
  position: absolute;
  inset: calc(25% - 3.25rem);
  border: 1px #727272 dashed;
  height: 13rem;
  width: 13rem;
  z-index: 2;
}

.image[data-guidelines="true"]::after {
  content: "";
  position: absolute;
  inset: calc(25% - 1.6rem) calc(25% - calc(3.2rem - 10px));
  height: 9.75rem;
  width: calc(13rem - 20px);
  border: 1px #ff1dcd dashed;
  z-index: 2;
}

img {
  height: 13rem;
  width: 13rem;
}

.remove-link {
  margin-top: auto;
}

.buttons {
  margin: 0.5rem;
}

.row-separation {
  margin-bottom: 1rem;
}

.combobox-container {
  min-width: 15rem;
}