.card-title{
    position: relative;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.29;
    color: #3c4b6c;
}

.button-container{
  text-align: center;
}

.dataTable{
    width: 70%;
    margin: 25px auto   
}

.modal-content{
  min-height: 250px;
}