@import 'c/eapCssLibrary';

.v1-carousel-container{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 20px;
    /* right: 20px; */
    top: 435px;
}

.slds-box {
    border: 0;
    border-radius: 0;
    text-align: left;
    padding: 1em;
    padding-top: 2em;
    background-color:var(--background-grey);
}

.v1-carousel-header {
    /*margin-bottom: 1em;
    color: #3c4b6c;
    font-weight: 400;
    line-height: 24px;*/
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 0.5em;
    color: #1A314D;
}

.v1-a-viewAll {
    font-weight: bold;
    /*text-align: right;
    float: right;*/
    font-size: medium;
    position: absolute;
    right: 40px;
}

a {
    font-weight: bold;
}

.v1-carousel-image {
    position: absolute;
    width: 270px;
    height: 370px;
    /* left: 20px; */
    top: 40px;
}

.v1-cardCarousel {
    background-color: white;
    text-align: left;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 5px;
    height: 200px;
}

.v1-carousel-location {
    font-weight: bold;
}

.slds-carousel__image {
    border: 0px;
    position: relative;
}

.slds-carousel__image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.owl-stage {
    left: -30px;
}

.arrow-up {
    position: absolute;
    left: 1em;
    bottom: 0px;
    z-index: 1000;

    width: 0; 
    height: 0;

    border-left: 1.7em solid transparent;
    border-right: 1.7em solid transparent;
    border-bottom: 2em solid white;
}