.button-style {
    border-radius: 5px;
    width: 320px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    background-color: transparent;
    margin: 2rem 0 2rem 3rem;
    transition: all 200ms linear;
    border: 2px solid #ffffff;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-style:hover {
    background-color: white;
    color: #0d2e5e;
}

.ms-icn_download {
    font-size: 20px;
    margin-left: 1rem;
    margin-bottom: 5px;
}

@media screen and (max-width: 1490px) {
    .button-style {
        width: 200px;
    }
}