@import "c/ppCssLibrary";

.container {
    /* margin-top: 52px; */
    font-family: system-ui;
    margin-bottom: 24px;
}

.text-title {
    width: 265px;
    margin-top: 32px;
    margin-bottom: 16px;
    opacity: 1;
    font-size: 28px;
    color: #1c263c;
    line-height: 1.21;
}

.text-description {
    width: 265px;
    text-align: left;
    opacity: 1;
    color: #6a7286;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    margin-bottom: 6px;
}

.image-icon {
    width: 120px;
}