.aob_todo-card {
  position: relative;
  background: #ffffff;
  border: 1px solid #ced3d9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p img {
  padding-right: 10px;
}
input.slds-input {
  text-align: center;
}
.sub-header {
  padding: 20px 145px 25px 20px;
  font-family: BentonSans;
  font-size: 14px;
  font-weight: 400px;
}