.heading {
  color: var(--secondary-blue, #003fca);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  padding-top: 2rem;
}

.sub-heading {
  color: var(--secondary-text-dark-grey);
  font-size: var(--font-size-body-m);
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 48rem) and (max-width: 90rem) {
  :host {
    width: calc(100% - 2rem);
    display: block;
  }
}