.aob_display-flex{

    justify-content: center;

}
.ao-slds {
    min-height: 100%!important;
}
.ao-width{
    width:100%;
}
.company{
width: 65%;
}
@media (min-width:426px) and (max-width:768px) {
    .company{
        width: 86%;
    }  
}
@media (min-width:320px) and (max-width:425px){
    .company{
        width: 79%;
    }  
}