.aob_display-flex{

    justify-content: center;

}
.aob_card_container{
    width: 100%;
}
 .ao-slds{
    min-height: 100%!important;
    
} 

 .btn-primary{
    width: 20%!important;
    padding: 5px!important;
    display: flex;
    margin: 0 auto;
    height:50px;
}
.heading{
    color: #3c4b6c;
}