@import 'c/eapCssLibrary';

.v1_div_centerShield {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overButton {
    height: 60vh;
}

.overTwoButtons {
    height: 50vh;
}

.v1_div_informationContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.v1_div_setIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.v1_icon_overShield {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.v1_div_message {
    margin-top: 1em;
    color: var(--text-dark-grey);
    text-align: center;
    font-size: 1.25em;
    width: 12em;
}